@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*general styles*/
:root
{
    /* SHADOWS */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 1px 1px 5px rgba(0, 0, 0, 0.2);
    --shadow-3: 1px 1px 10px rgba(0, 0, 0, 0.2);  
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

hr {
  width: 30px;
  height: 2px;
  background-color: #fb774b;
}
button{
  font-size: 16px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 13px 30px;
  text-transform: uppercase;
  transition: 0.3s ease;
  margin-top: 15px;
}
button:hover
{
  background-color: #3a3833;
}

/*CART STYLES*/
  .cart
  {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 8000;
  height: 100vh;
  width: 360px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color:white;
  padding: 20px;
  transition: 0.4s !important;
}
.cart.active
{
  right: 0;
  transition: .5s;
}
.cart-title
{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-content
{
  max-height: 69%;
}
.cart-box
{
  display: grid;
  grid-template-columns: 32% 50% 10%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img
{
  width: 100%;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box
{
  display: grid;
  row-gap: .5rem;
}
.cart-product-title
{
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price
{
  font-weight: 500;
}
.cart-quantity
{
  border: 1px solid black;
  text-align: center;
  outline-color: 1px solid black;
  width: 2.4rem;
  font-size: 1rem;
}
.cart-remove
{
  font-size: 24px;
  color: red;
  cursor: pointer;
}
.total
{
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #000;
  margin-top: 1.3rem;
  padding-top: 5px;
}
.total-title
{
  font-size: 1rem;
  font-weight: 600;
}
.total-price
{
  margin-left: .5rem;
}
.btn-buy
{
  font-size: 1rem !important;
  font-weight: 500;
  display: flex;
  margin: 1.5rem auto 0 auto;
  background-color: #FB774B;
  bottom: none;
  padding: 12px 20px !important;
}
.btn-buy:hover
{
  background-color: #a74423;
}
#cart-close
{
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
#cart-icon
{
  position: relative;
  cursor: pointer;
}
.cart-count-wrapper #cart-count
{
  position: absolute;
  top: 20px; 
  right: 35px; 
  background: red; 
  color: white; 
  cursor: pointer;
  border-radius: 50%; 
  padding: 0 5px; 
  font-size: 12px; 
  display: none;
}

/*main styles*/
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
body.show::before
{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.4) ;
  right: 0;
  z-index: 1000;
  height: 100vh;
  overflow-y: hidden;
}
body.fixedbg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
 nav 
{
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid rgb(173, 167, 167);
  align-items: center;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
  bottom: 0;
  overflow-x: hidden;
}
 nav span
{
  display: flex;
}
nav ul{
  gap: 40px;
  display: flex;
  align-items: center;
}
 nav ul li
{
  list-style-type: none;
}
 nav ul li a
{
  color: black;
  text-decoration: none;
  font-weight: 500;
}
nav ul li a.active
{
  color:rgb(255, 127, 80);
}
 nav ul li a:hover
{
  color:rgb(255, 127, 80) ;
}
 nav .icon-wrapper
{
  gap:10px;
  display: flex;
  padding-left: 40px;
  align-items: center;
  vertical-align: middle;
} 
nav .icon-wrapper i 
{
  font-size: 19px;
}
 nav .logo
{
  display: flex;
  align-items: center;
  gap: 10px;
}
 nav .logo i
{
  font-size: 19px;
  font-weight: bold;
  visibility: hidden;
  display: none;
}
 #sidebar
{
  position:fixed;
  top: 0 ;
  left: 0;
  width: 77%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  background-color:white;
  transition: all 0.7s ease;
  overflow-x: hidden;
  z-index: 1000;
  animation: 0.5s ease-in-out;
}
#sidebar.show
{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
 #sidebar ul
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 35px;
  align-items: start;
}
#sidebar ul a
{
  padding: 30px 0 0 30px;
}
#sidebar ul hr
{
  width: 100%;
  outline: none;
  margin: -15px 0;
}
#sidebar .close-sidebar
{
  padding: 30px 0 0 30px;
}
#sidebar ul a.active
{
  color:red  !important;
}
#section1 .home span
{
  color: coral;
}
#section1
{  background-image: url(img/back.jpg);
  background-size: cover;
  background-position: top 50px center;
  height:100vh;
  overflow: hidden;
  width: 100%;
}
#section1 .home .text
{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120px;
  overflow-x: hidden;
  width: 420px;
}
 #sidebar ul li a
{
  color: black;
  text-decoration: none;
  font-weight: 500;
}
#section2
{
  overflow: hidden;
}
#section2 .brand-container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
#section2 .new-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-container .new
{
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 447px;
  height: 447px;
}
.new .img-wrapper
{
  position: relative;
  width: 447px;
  object-fit: contain;
  height: 447px; 
} 
.new .img-wrapper::before
{
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.32);
  transition: opacity 0.5s ease;
}
.new .img-wrapper img
{
  display: block;
  height: 100%;
  width: 100%;
}
.new-container .new .text
{
  position: absolute;
  top: 50%;
  height: auto;
  display: block;
  cursor: pointer !important;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50% , -50%);
}
.new-container .new.one .text
{
  text-align: left;
  padding-left: 10px;
}
.new-container .new.three .text
{
  text-align: right;
  padding-right: 10px;
}
.new:hover .img-wrapper::before
{
  visibility: visible;
  opacity: 1;
}
.new .text .shop-btn
{
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  padding: 0;
  margin-top: 80px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  width: max-content;
}
.new .text .shop-btn:hover
{
  color: white;
  border-color: white; 
}
#section3
{
  text-align: center;
  padding: 80px 0;
}
.product-wrapper
{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 35px;
  flex-wrap: wrap;
  padding: 60px 0 0px 0;
}
.products h2
{
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 17px;
  position: relative;
  width: max-content;
  margin: 0 auto;
}
.products h2::before
{
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 30px;
  margin: 0 auto;
  border-bottom: 3px solid #FB774B;
}
.products p
{
  padding-top: 17px;
}
.products .product-wrapper .product
{
  width: 300px;
  text-align: center;
  overflow-y: hidden;
  gap: 23px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}
.product-wrapper .product:hover img
{
  opacity: 0.7;
}
.product-wrapper .product img
{
  width: 300px;
  height: 354px;
  transition: 0.3s all;
  padding-bottom: 23px;
}
.product span
{
  color:#FFC941;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.product span i
{
  font-size: 13px;
}
.product .product-title
{
  padding-top: 5px;
  font-size: 20px;
}
.product .product-price 
{
  padding: 4px 0 10px 0;
}
.product .text
{
  text-align: center;
}
.product .add-cart
{
  font-size: 14px;
  font-weight: 600;
  background-color: #FF7F50;
  transition: 0.3s ease-in-out;
  margin: 0;
}
.product:hover .add-cart
{
  background-color:#FA916B;
}
#section4
{
  position: relative;
  height: 70vh;
  width: 100%;  
}
#section4::before
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(img/banner/2.jpg);
  left: 0;
  background-attachment: fixed;
  -webkit-background-attachment: fixed !important;
  bottom: 0;
  background-position:top 70px center;  
  background-size: cover;
}
#section4 .text
{
  padding-left:130px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#section4 .text h2
{
  font-size: 18px;
  color: rgb(216, 216, 216);
}
#section4 .text h1
{
  line-height: 1.2;
  overflow-y: hidden;
  color: white;
}
#section4 .text .shop-btn
{
  font-weight: 700;
  font-size: 13px;
  background-color: #FB774B;
}
#section5
{
  text-align: center;
  padding: 80px 0;
  overflow-x: hidden;
}
#section6
{
  text-align: center;
  padding: 80px 0;
  overflow-x: hidden;
}
#section6 .product-wrapper .product .image-wrapper
{
  width: 300px;
  height: initial;
}
#section7
{
  text-align: center;
  padding: 80px 0;
  overflow-x: hidden;
}
#section7 .product-wrapper .product .image-wrapper
{
  width: 300px;
  height: initial;
}
footer
{
  background-color: #222222;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 70px;
}
footer .text
{
  color: white;
  padding-left:130px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .text .wrapper
{
  width: 20%;
}
footer .text .wrapper h4
{
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 15px;
}
footer .text .wrapper.one img
{
  padding-bottom: 15px;
}
footer .text .wrapper.one
{
  color:  rgb(153, 153, 153);
  font-size: 14px;
}
footer .text .wrapper.two li
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text .wrapper.two li a
{
  display: block;
  overflow-y: hidden;
  color: rgb(153, 153, 153);
  font-size: 14px;
  text-decoration: none;
}
.text .wrapper.two li a:hover
{
  text-decoration: underline;
  color: white;
}
footer .text .wrapper.three span
{
  font-size: 14px;
  color:  rgb(153, 153, 153);
  font-weight: 400;
}
.text .wrapper.three p
{
  line-height: 1.8;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}
.text .wrapper.four div
{
  display: grid;
  grid-template-columns: 69px 69px 69px;
  grid-template-rows: 2;
  grid-gap: 15px;
}
.text .wrapper.four h4
{
  padding-bottom: 23px;
}
.text .wrapper.four div img
{
  width: 69px;
  height:  69px;
}
footer .copyright
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 130px;
}
footer .copyright span
{
  width: 33.3%;
}
.copyright  p
{
  color:  rgb(153, 153, 153);
  font-size: 14px;
}
.copyright .social-wrapper 
{
  display: flex !important;
  gap: 13px !important;
}
.copyright .social-wrapper .social
{
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
} 
.copyright .social-wrapper a
{
  color: black;
}
.copyright .social:hover
{
  background-color: #FB774B;
}
.copyright .social:hover a,
.copyright .social:hover a i
{
  color: white;
}





/*shop styles*/
#featured
{
  padding: 90px 0 60px 0;
  margin-top: 80px;
}
#featured .products .title,
#featured .products .title h2,
#featured .products .title h2::before
{
  text-align:left ;
  margin: 0 !important;
}
#featured .products .title
{
  padding-left: 40px;
  text-align:left ;
  margin: 0 !important;
}

/*PAGINATION STYLES*/
.tabs_container
{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.tab_btn
{
  padding:13px 25px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: 1000ms ease;
  font-family: Nunito, Sans-Serif;
}
.tabs_container .tab_btn.active_tab,
.tabs_container .tab_btn:hover {
  box-shadow: inset var(--shadow-3);
}
.tab_item:not(.active_tab) {
  display: none;
}
/*PAGINATION STYLES END*/

/*shop styles END*/




/*=============BLOG STYLES==========*/
#blog
{
  margin-top: 80px;
  padding: 60px 0 100px 0;
}
#blog h1
{
  font-size: 29px;
  padding-bottom: 7px;
  padding-left:120px;
}
#blog hr
{
  color: #FB774B;
  height: 3px;
  border: 0;
  margin-left: 120px;
  width: 35px;
}
.blog-wrapper
{
  width: 540px;
  cursor: pointer;
  text-align: center; 
}
.blog-wrapper .image-wrapper
{
  width: 540px;
  position: relative;
  overflow: hidden;
  max-height: 304px;
}
.blog-wrapper .image-wrapper img
{
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s ease;
}
.blog-wrapper .image-wrapper img:hover
{
  transform: scale(1.3) rotate(-10deg);
  opacity: 0.8;
}
.blog-wrapper p
{
  font-size: 22px;
  color:rgb(33, 37, 41);
  padding-top: 15px;
  transition: 0.2s all;
}
.blog-wrapper h5
{
  font-size: 16px;
  padding-top: 5px;
}
.blog-wrapper:hover p
{
  color: #fb774b;
}
#blog .banner
{
  width: 1110px;
  height: 310px;
}
#blog .banner img
{
  width: 100%;
  height: 100%;
  display: block;
}
.blog-wrapper.other .image-wrapper
{
  width: 350px;
  position: relative;
  overflow: hidden;
  max-height: 282px;
  border-radius: none !important;
}
.blog-wrapper.other p
{
  font-size: 18px;
  color:rgb(33, 37, 41);
  padding-top: 15px;
  transition: 0.2s all;
}
.blog-wrapper.other
{
  width: 350px;
  cursor: pointer;
  text-align: left; 
}
#blog .posts
{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  padding-top: 65px;
  row-gap: 60px;
  column-gap: 30px;
}
/*=============BLOG STYLES ENDS==========*/




/*=============LOGIN/SIGNIN STYLES==========*/

.log-container 
{
  width: 470px;
  height: 580px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.log-container img
{
  padding-top: 35px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}
#form-container
{
  width: 64%;
  overflow-y: hidden;
  height: 100%;
  position: relative;
  height: max-content;
}
#form-container input
{
  width: 100%;
  height: 50px;
  outline: none;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}
 input::placeholder
{
 
  font-size: 16px;
  color:rgba(0, 0, 0, 0.87);
  transition: all 0.2s;
}
input:focus::placeholder,
input:not(:placeholder-shown)::placeholder
{
  font-size: 14px;
  color: #333;
  transform: translateY(-20px);

}
#form-container .forget-password
{
  color:rgb(63, 81, 181);
  display: block;
  padding-top: 20px;
  text-align: right;
  font-size: 14px;
  padding-bottom: 0;
  text-decoration: none;
}
#form-container .forget-password:hover
{
  text-decoration: underline;
}
#form-container button
{
  font-size: 14px;
  font-weight: 500;
  background-color:rgb(255, 127, 80);
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 30px 0;
  border-radius: 5px;
}
#form-container button:hover
{
  background-color:rgb(226, 113, 73); 
}
#form-container p,
#form-container a
{
  font-size: 14px;
}
#form-container a
{
  color:rgb(63, 81, 181);
  text-decoration: none;
}
#form-container a:hover
{
  text-decoration: underline;
}
.log-container .to-page
{
  position: absolute;
  left: 0;
  top: 5px;
  padding: 6px 20px;
  border-radius: 5px;
  transition: 0.3s ease;
  font-size: 20px;
}
.log-container .to-page:hover
{
  background-color: #F5F5F5;
}


/*============= END==========*/










/*=============BLOG PAGE==========*/
@media screen and (max-width:1024px) {
  .blog-wrapper
{
  width: 420px;
  cursor: pointer;
  text-align: center; 
}
.blog-wrapper .image-wrapper
{
  width: 420px;
  position: relative;
  overflow: hidden;
  max-height: 304px;
}
nav 
{
padding: 0 75px;
}
#blog h1
{
  padding-left:75px;
}
#blog hr
{
  margin-left: 75px;
}
#blog .banner
{
  width: 870px;
}

}
/*=============END==========*/

/*=============BLOG PAGE==========*/
@media screen and (max-width:1440px) {
.blog-nav nav 
{
padding: 0 75px;
}
#blog h1
{
  padding-left:140px;
}
#blog hr
{
  margin-left: 140px;
}

}


/*=============END==========*/

@media screen and (max-width:912px) {
  
  /*=============BLOG PAGE==========*/
  .blog-wrapper.other
  {
  width: 43%;
  }
  .blog-wrapper.other .image-wrapper
  {
  width: 100%;
  position: relative;
  overflow: hidden;
  }
  .blog-wrapper
  {
    width: 43%;
    cursor: pointer;
    text-align: center; 
  }
  .blog-wrapper .image-wrapper
  {
    width: 400px;
    position: relative;
    overflow: hidden;
    max-height: 304px;
  }
  #blog .posts
  {
  column-gap: 4%;
  }
  #blog h1
  {
  padding-left:0;
  margin-left: 0;
  width: 90%;
  margin: 0 auto;
  }
  #blog .line-wrapper
  {
    width: 90%;
    margin: 0 auto;
  }
  #blog .line-wrapper hr
  {
    margin: 0;
  }
  #blog .banner
  {
  width:90%;
  }
  .exit-icon 
  {
    display: none;
  }

  /*=============END==========*/



  /*LOGIN/SIGNUP PAGE*/

  .log-container 
  {
  width: 70%;
  height: 80vh;
  }

  /*END*/

  nav span ul
  {
  display: none;
  }
   nav .logo i
  {
  font-size: 19px;
  font-weight: bold;
  visibility: visible;
  display: initial;
  }
   nav 
  {
  display: flex;
  gap: none;
  justify-content: space-between;
  padding: 0 30px !important;
  }
  #section1 .home .text
  {
  position:absolute;
  left: 30px;
  width: 420px;
  }
  #section2 .brand-container
  {
    gap: 40px;
  }
  .new-container .new
  {
  width: 99%;
  height: initial;
  }
  .new .img-wrapper
  {
  width:100%;
  height: 100%; 
  } 
  #section4 .text {
  padding-left: 30px;
  }
  #section4 {
  background-position: center top 70px;
  background-position: center right 40%;
  }
  footer .copyright
  {
  padding-left: 40px;
    gap:30px;
  }
  footer .text
  {
  padding-left:40px;
  gap: 30px;
  }
  footer .text .wrapper
  {
  width: 45%;
  gap:0;
  }
  footer .copyright span
  {
  width: 45%;
  }
  .cart-count-wrapper #cart-count
  {
  top: 20px; 
  right: 28px; 
  }

}  

@media screen and (max-width:450px) {
  .cart-content
  {
  max-height: 55%;
  }
  .cart-count-wrapper #cart-count
  {
  right: 12px; 
  }
   nav span ul
  {
  display: none;
  }
   nav .logo i
  {
  font-size: 19px;
  font-weight: bold;
  visibility: visible;
  }
   nav 
  {
  padding: 0 15px !important;
  gap: 0px;
  }
  #section1 .home .text
  {
    position:absolute;
    top: 46%;
    transform: translateY(-50%); 
    left: 20px;
    width: initial;
  }
  #section1
  {
  background-position: top 70px center;
  }
  #section4 .text h1
  {
    font-size: 36px;
  }
  #section5 .products .product-wrapper .product,
  #section6 .products .product-wrapper .product,
  #section7 .products .product-wrapper .product
  {
  width:100%;
  }
  #section5 .product-wrapper .product .product-img
  {
  width:90%;
  height: 450px;
  }
  #section6 .product-wrapper .product .product-img,
  #section7 .product-wrapper .product .product-img
  {
    height: initial;
    width: 90%;
  }
  .products p
  {
  padding: 17px 5px 0 5px;
  }
  footer .text
  {
  padding:0 30px 0 30px;
  gap: 30px;
  }
  footer .text .wrapper
  {
  width: 100%;
  gap:0px;
  }
  footer .copyright span
  {
  width: 100%;
  }
  footer .copyright
  {
  padding:0 30px 0 30px;
  }



  /*==SHOP PAFGE RESPONSIVENESS MAX-WIDTH 450PX==*/
  #featured .products .title,
  #featured .products .title h2,
  #featured .products .title h2::before
  {
  text-align:left ;
  margin: 0 !important;
  }
  #featured .products .title
  {
  padding-left: initial;
  text-align:left ;
  width: 90%;
  margin: 0 auto !important;
  }
  .products .product-wrapper .product
  {
  width: 100%;
  text-align: center;
  }
  .product-wrapper .product img
  {
  width: 90%;
  height: initial;
  }
  /*==SHOP PAFGE RESPONSIVENESS MAX-WIDTH 450PX END==*/

    /*=============BLOG PAGE==========*/
    .blog-wrapper.other
    {
    height: 100%;
    width: 93%;
    }
    .blog-wrapper.other .image-wrapper
    {
    width: 100%;
    height: 500px;
    }
    .blog-wrapper
    {
      width: 93%;
      cursor: pointer;
      text-align: center; 
    }
    #blog .posts
    {
    column-gap: 4%;
    }
    #blog .banner
    {
    width:95%;
    height: 120px;
    }  

  /*=============END==========*/

  /*LOGIN/SIGNUP PAGE*/

  .log-container 
  {
  width: 88%;
  height: 85vh;
  overflow-y: hidden;
  }
  #form-container
  {
  width: 80%;
  }
  /*END*/

}




@media screen and (max-width:375px) {
  #section1 .home .text
  {
    width: 70%;
  }
  #section1 .home .text
  {
    position:absolute;
    top: 50%;
  }
  #section1 .home .text h1
  {
    line-height:1.3;
    overflow-y: hidden;
    font-size: 32px;
  }
}
@media screen and (max-width:320px) {
  .cart
  {
  width: 320px;
  }
  .cart-box
  {
  grid-template-columns: 30% 50% 10%;
  }
}




